* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  background-color: #eef7ff;
  color: #1c1a26;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1406px;
  padding: 5px 15px;
  margin: auto;
}

.header {
  min-height: 88px;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: inherit;
}

.header__burger-btn {
  width: 20px;
  height: 8px;
  border: none;
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: none;
}
.header__burger-btn::before, .header__burger-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1c1a26;
  left: 0;
  transition: all 0.5s;
}
.header__burger-btn::before {
  transform: translateY(-4px);
}
.header.open .header__burger-btn::before {
  transform: rotate(-45deg) translateY(0);
}
.header.open .header__burger-btn::after {
  transform: rotate(45deg) translateY(0);
}

.header__logo {
  position: relative;
  z-index: 2;
}

.menu__header {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  column-gap: 64px;
}

.list__item {
  list-style: none;
}

.list__link {
  text-decoration: none;
  color: #1c1a26;
  letter-spacing: -0.01em;
  line-height: 150%;
  display: block;
  position: relative;
}
.list__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #1c1a26;
  transition: width 0.5s;
  bottom: -5px;
}
.list__link:hover::before {
  width: 100%;
}

.list__link_contact {
  display: flex;
  align-items: center;
  column-gap: 7px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #f9512e;
  font-weight: 500;
}
.list__link_contact::before {
  background-color: #f9512e;
}

@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
  .menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: -100%;
    height: 100vh;
    padding-top: 150px;
    overflow: hidden;
    transition: all 0.5s;
    background-color: #eef7ff;
  }
  .list {
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .header__burger-btn {
    display: block;
  }
  .header.open .menu {
    top: 0;
  }
}
.main__creative {
  padding: 144px 124px 0px;
  background-image: url("../images/creative/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 586px;
}

.creative__container {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.creative__info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.creative__paragraph {
  width: 280px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.creative__title {
  font-size: 144px;
  line-height: 85%;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-weight: 700;
}

.creative__button {
  width: 280px;
  height: 56px;
  border: 2px solid #f9512e;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f9512e;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}
.creative__button:hover {
  background-color: #f9512e;
  color: #fff;
}
.creative__button > svg > path {
  transition: fill 0.5s;
}
.creative__button:hover > svg > path, .creative__button:active > svg > path {
  fill: #fff;
}
.creative__button:active {
  background-color: #b2341a;
  border-color: #b2341a;
}

@media (max-width: 1200px) {
  .main__creative {
    padding: 135px 44px 0;
  }
  .creative__title {
    font-weight: 400;
    font-size: 136px;
    white-space: nowrap;
  }
  .creative__info {
    row-gap: 8px;
  }
}
@media (max-width: 1180px) {
  .creative__title {
    white-space: initial;
  }
}
@media (max-width: 768px) {
  .main__creative {
    padding: 80px 44px 0;
    background-size: 80%;
  }
  .creative__info {
    row-gap: 146px;
  }
  .creative__title {
    font-size: 80px;
    white-space: nowrap;
  }
  .creative__container {
    row-gap: 210px;
  }
  .creative__wrapper-btn {
    display: flex;
    justify-content: center;
  }
  .creative__button {
    width: 310px;
  }
}
@media (max-width: 730px) {
  .creative__title {
    white-space: initial;
  }
}
@media (max-width: 420px) {
  .main__creative {
    padding-left: 20px;
    padding-right: 20px;
  }
  .creative__container {
    padding: 5px 0;
  }
  .creative__title {
    font-size: 68px;
  }
}
@media (max-width: 320px) {
  .main__creative {
    padding: 32px 16px 0;
    background-size: 70%;
    background-position: 42px 216px;
  }
  .creative__info {
    row-gap: 32px;
  }
  .creative__container {
    row-gap: 290px;
  }
  .creative__title {
    font-size: 64px;
  }
}
.main__bake {
  padding: 178px 124px 0px;
}

.bake__container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.bake__titles {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.bake__title {
  font-size: 72px;
  line-height: 85%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
}

.bake__subtitle {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
}

.bake__body {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.bake__items {
  display: flex;
  column-gap: 24px;
}

.bake__items:nth-child(1),
.bake__items:nth-child(3) {
  justify-content: flex-start;
}

.bake__items:nth-child(2) {
  justify-content: flex-end;
}

.bake__item {
  max-width: 432px;
}

.item-bake__name {
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #7f8096;
  margin-top: 16px;
}

.item-bake__description {
  line-height: 150%;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
  margin-top: 8px;
}

.item-bake__order {
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f9512e;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.item-bake__order::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #f9512e;
  bottom: -5px;
  transition: width 0.5s;
}
.item-bake__order:hover::before {
  width: 100%;
}

@media (max-width: 1200px) {
  .main__bake {
    padding: 152px 44px 0;
  }
  .bake__item,
.item-bake__image > img {
    max-width: 402px;
  }
}
@media (max-width: 950px) {
  .bake__items {
    flex-wrap: wrap;
    row-gap: 80px;
  }
  .bake__items:nth-child(1),
.bake__items:nth-child(2),
.bake__items:nth-child(3) {
    justify-content: center;
  }
  .bake__titles {
    align-items: center;
  }
  .bake__item,
.item-bake__image > img {
    max-width: 328px;
  }
}
@media (max-width: 768px) {
  .main__bake {
    padding: 162px 44px 0;
  }
  .bake__title {
    font-size: 56px;
  }
}
@media (max-width: 360px) {
  .main__bake {
    padding: 104px 16px 0;
  }
  .bake__title {
    font-size: 48px;
  }
  .bake__item,
.item-bake__image > img {
    max-width: 288px;
  }
  .bake__container,
.bake__items,
.bake__body {
    row-gap: 56px;
  }
}/*# sourceMappingURL=style.css.map */